# =============== #
# Unity generated #
# =============== #
/*.apk
/*.stackdump
/*.unitypackage
/[Aa]ssets/AssetStoreTools*
/[Bb]uild
/[Bb]uilds/
/[Ll]ibrary/
/[Ll]ocal[Cc]ache/
/[Oo]bj/
/[Tt]emp/
/sysinfo.txt


# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
/*.booproj
/*.csproj
/*.pidb
/*.pidb.meta
/*.sln*
/*.suo
/*.svd
/*.tmp
/*.unityproj
/*.user
/*.userprefs
/.consulo/
/.vs/
/[Ee]xported[Oo]bj/

# ============ #
# OS generated #
# ============ #
/._*
/.DS_Store*
/.Spotlight-V100
/.Trashes
/[Dd]esktop.ini
/[Tt]humbs.db
/Corridor/Library/metadata/
/Corridor/Library/ShaderCache/
/ehthumbs.db
/Icon?
