# =============== #
# Unity generated #
# =============== #
/gameFolder/BassDefense/[Tt]emp/
/gameFolder/BassDefense/[Oo]bj/
/gameFolder/BassDefense/[Bb]uild
/gameFolder/BassDefense/[Bb]uilds/
/gameFolder/BassDefense/[Ll]ibrary/
/gameFolder/BassDefense/sysinfo.txt
*.stackdump
/gameFolder/BassDefense/Assets/AssetStoreTools*
*.apk
*.unitypackage
 
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
/gameFolder/BassDefense/[Ee]xported[Oo]bj/
/gameFolder/BassDefense/.vs/
/gameFolder/BassDefense/*.userprefs
/gameFolder/BassDefense/*.csproj
/gameFolder/BassDefense/*.pidb
/gameFolder/BassDefense/*.pidb.meta
/gameFolder/BassDefense/*.suo
/gameFolder/BassDefense/*.sln*
/gameFolder/BassDefense/*.user
/gameFolder/BassDefense/*.unityproj
/gameFolder/BassDefense/*.booproj
/gameFolder/BassDefense/.consulo/
/gameFolder/BassDefense/*.tmp
/gameFolder/BassDefense/*.svd
 
# ============ #
# OS generated #
# ============ #
/gameFolder/BassDefense/.DS_Store*
/gameFolder/BassDefense/._*
/gameFolder/BassDefense/.Spotlight-V100
/gameFolder/BassDefense/.Trashes
/gameFolder/BassDefense/Icon?
/gameFolder/BassDefense/ehthumbs.db
/gameFolder/BassDefense/[Tt]humbs.db
/gameFolder/BassDefense/[Dd]esktop.ini
/gameFolder/BassDefense/Corridor/Library/ShaderCache/
/gameFolder/BassDefense/Corridor/Library/metadata/